body,
html,
#__next {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif; }

p {
  margin: 0;
  text-align: center; }

.layout {
  padding: 25px; }

.logo {
  background-color: #9F9888;
  border-radius: 1000000px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.button {
  display: block;
  background-color: #f9f9f9;
  color: #1f1f1f;
  padding: 12.5px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  .button:hover {
    background-color: white; }
  .button:active {
    background-color: #f1f1f1; }
  .button img {
    vertical-align: middle;
    width: 24px;
    height: 24px; }

.layout.home {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .layout.home .logo {
    width: 192px;
    height: 192px;
    margin-bottom: 25px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 0 0 450px rgba(159, 152, 136, 0.1); }
  .layout.home .name {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 12.5px; }
  .layout.home .description {
    font-size: 1.25em;
    margin-bottom: 25px; }
  .layout.home .buttons {
    display: flex; }
    .layout.home .buttons .button:not(:last-child) {
      margin-right: 12.5px; }

